In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data = pd.read_csv("train.csv")

In [3]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
women = train_data.loc[train_data.Sex == 'female']['Survived']
rate_women = sum(women)/len(women)
print('% of women who survived: ', rate_women)
print(f'{rate_women} women survived out of {len(women)} total women')

% of women who survived:  0.7420382165605095
0.7420382165605095 women survived out of 314 total women

In [7]:
men = train_data.loc[train_data.Sex == 'male']['Survived']
rate_men = sum(men)/len(men)
print('% of men who survived: ', rate_men)
print(f'{rate_men} men survived out of {len(men)} total men')

% of men who survived:  0.18890814558058924
0.18890814558058924 men survived out of 577 total men

In [9]:
class_1 = train_data.loc[train_data.Pclass == 1]['Survived']
rate_class_1 = sum(class_1)/len(class_1)
print('% of first class who survived: ', rate_class_1)
print(f'{rate_class_1} first class survived out of {len(class_1)} total class 1 passengers')

% of first class who survived:  0.6296296296296297
0.6296296296296297 first class survived out of 216 total class 1 passengers

In [16]:
women_class = train_data.loc[train_data.Sex == 'female', ['Pclass', 'Survived']]
women_class.head()

   Pclass  Survived
1       1         1
2       3         1
3       1         1
8       3         1
9       2         1

In [18]:
women_class_1 = women_class.loc[women_class.Pclass == 1]['Survived']
rate_f1 = sum(women_class_1)/len(women_class_1)
print(f'{rate_f1} first class women survived out of {len(women_class_1)} total class 1 women passengers')

0.9680851063829787 first class women survived out of 94 total class 1 women passengers

In [21]:
women_class_1 = women_class.loc[women_class.Pclass == 1]['Survived']
rate_f1 = sum(women_class_1)/len(women_class_1)
women_class_2 = women_class.loc[women_class.Pclass == 2]['Survived']
rate_f2 = sum(women_class_2)/len(women_class_2)
women_class_3 = women_class.loc[women_class.Pclass == 3]['Survived']
rate_f3 = sum(women_class_3)/len(women_class_3)
print(f'{rate_f1}, {rate_f2}, {rate_f3}')

0.9680851063829787, 0.9210526315789473, 0.5

In [25]:
rates = ['class_1', 'class_2', 'class_3']
for Pclass in range(1,4):
    women_class_x = women_class.loc[women_class.Pclass == Pclass]['Survived']
    rates[Pclass-1] = sum(women_class_x)/len(women_class_x)
print(f'Female survival rates by class: {rates}')

Female survival rates by class: [0.9680851063829787, 0.9210526315789473, 0.5]